# general things to ignore
build/
dist/
docs/_sources/
docs/.doctrees
.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# virtualenv
env*/
venv/
.venv*
.env*

# misc
tmp.txt
.DS_Store
logs/
*.db
.pytype/
.idea/